/*Elememt selector*/
p {
	text-align : center;
	color : red;
}
/*Id selector*/	
#para1 {
	text-align : left;
	color : blue;
}
/*class selector*/
.center {
	text-align : center large;
	color : green;
}
/*Universal selector*/
* {
	text-align : center;
	color : orange;
}
h1,h2,h3{
	text-align: center;
	color:yellow;
}